.myrows{
  border: 3px solid green;
  padding: 5px;
}
.mycols{
  border: 3px solid red;
}
.mycontainer{
  background-color: aqua;
}
#topHeader{
  border-bottom: 1px solid #ebebeb;
  
}
#topHeader a{
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
} 


.container-fluid{
  padding-left: 0;
  padding-right: 0;
  margin-top: 32px;
  
}

nav ul li a {
 font-size: 1.1rem;
 font-weight: 600;
}

img {
	margin-left: 25px;
	margin-right: 80px;
}


.img1{
	margin-left: 52px;
}


.bg-light{
	opacity: 0.8;
}

.breadcrumbs-section{
  background-color: #e9ecef;
}



/* START : Footer */
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer h3{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
 
.para{
margin-top: 15px;
color: white;
}	

/* END : Footer */


/* Start : Home page first hero section */
.top-hero-section{
background-color: #3498db;
color: white;
}
.top-hero-section a{
  color: white;
  font-weight: 600;
}
.qualities-img{
  width:200px;
}


/* END : Home page first hero section */

.big{
	font-size: 25px;
	line-height: 35px;
}

.big1{
	font-size: 20px;
	line-height: 30px;
}

.portfolio-section {
	line-height: 20px;
}

/* START : Home page 3rd requirement section */
.requirements-section{
  background-color: #004d80;
  color: white;
}
/* END : Home page 3rd requirement section */

.clients-section{
  background-color: #f0f0f0;
}

/* glass fiber */

.product-text{
	margin-left:35px;
}

.panel-group{
	margin-top: 30px;
}